#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}