#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02c2d65a-1a86-47fc-a834-b3e4dbe52fde > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}