#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Rectangle_107 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Rectangle_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Image_185 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Image_186 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Rectangle_109 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Rectangle_110 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Rectangle_111 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-send_3 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-attachment_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 #s-signals {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-31e0839b-8a43-431e-bda7-0f83f2b037f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}