#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4317bbc5-d6eb-42e8-af45-ced8f4897cef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}