#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5a75e317-87fe-4954-8e45-1bc8a081bec7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}