#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5e36963a-a013-4838-99b4-c3d6bc4fa8eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}