#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour span#rtr-s-hour_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-signals > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-spinner-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-spinner-2 > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-spinner-2 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_1 {
  position: absolute;
  width: 108px;
  height: 108px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_1 > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_1 > svg {
  height: 108px;
  width: 108px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 {
  position: absolute;
  width: 173px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 > .paddingLayer {
  height: 36px;
  width: 173px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Menu-minimum-width {
  position: absolute;
  width: 360px;
  height: 251px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 2px 7px 0px #999999;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg {
  position: absolute;
  width: 360px;
  height: 251px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg > .paddingLayer {
  height: 251px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg span#rtr-s-Bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 {
  position: absolute;
  width: 360px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 > .paddingLayer {
  height: 48px;
  width: 328px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 span#rtr-s-Item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 {
  position: absolute;
  width: 360px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 > .paddingLayer {
  height: 48px;
  width: 328px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 span#rtr-s-Item_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 {
  position: absolute;
  width: 360px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 > .paddingLayer {
  height: 48px;
  width: 328px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 span#rtr-s-Item_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 {
  position: absolute;
  width: 147px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 > .paddingLayer {
  height: 25px;
  width: 147px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_2 {
  position: absolute;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_2 > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_2 > svg {
  height: 20px;
  width: 17px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_3 {
  position: absolute;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_3 > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_3 > svg {
  height: 20px;
  width: 17px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_4 {
  position: absolute;
  width: 17px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_4 > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_4 > svg {
  height: 20px;
  width: 17px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Horizontal_softkeys {
  position: absolute;
  width: 360px;
  height: 48px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg > .clipping, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Square > svg {
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Square > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Circle > svg {
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Circle > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Triangle > svg {
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Triangle > img, #s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}