#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}