#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67b85127-3ad2-41b4-b4ef-40a4391fe0ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}