#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}