#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-743549dd-b8df-405e-9cdf-b3b03bdd542f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}