#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_16 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_16 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_154 {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}