#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}