#s-779014b6-9b22-496f-a6ad-4126fc8ddacf > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf > #alignmentBox {
  position: relative;
  max-width: 640px;
  max-height: 360px;
  width: 100%;
  height: 100%;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Empty_screen_color_top {
  position: absolute;
  width: 640px;
  height: 515px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Square > svg {
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Square > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Circle > svg {
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Circle > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Triangle > svg {
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Triangle > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4A86E8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Status-bar {
  position: absolute;
  width: 640px;
  height: 20px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-signals > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Required-input {
  position: absolute;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Content_panel {
  width: 0px;
  height: 67px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Content_panel > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Content_panel > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 67px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Content_panel .verticalalign {
  vertical-align: top;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 input::-webkit-input-placeholder {
  color: #808080;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 input::-moz-placeholder {
  color: #808080;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 input:-moz-placeholder {
  color: #808080;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 input:-ms-input-placeholder {
  color: #808080;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Input_7 > .paddingLayer {
  height: 20px;
  width: 95px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Line_15 marker {
  fill: #757575;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Line_15 {
  position: absolute;
  width: 548px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_15 {
  width: 100px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Line_16 marker {
  fill: #6200EE;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Line_16 {
  position: absolute;
  width: 548px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Line_16 {
  width: 100px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 span#rtr-s-Label_6_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Label_6 span#rtr-s-Label_6_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_154 > svg {
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_154 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_154 > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_154 > svg {
  height: 19px;
  width: 19px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_1 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_1 > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Image_1 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 28.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4A86E8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 {
  position: absolute;
  width: 250px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 > .clipping, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 > .paddingLayer {
  height: 31px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 15.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-spinner-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-spinner-2 > img, #s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-spinner-2 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 > .shapert-clipping {
  width: 180px;
  height: 64px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 180px;
  height: 48px;
  position: absolute;
  overflow: hidden;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 .content {
  text-shadow: none;
  width: 180px;
  height: 48px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 {
  position: absolute;
  width: 180px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #s-Callout_1 {
  width: 180px;
  height: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_1 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_2 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-779014b6-9b22-496f-a6ad-4126fc8ddacf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}