#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Pinmap {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-tap-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-located-fixed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c #s-menu_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7a9290c8-e47f-440a-8bce-09e98b83c75c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}