#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a0fd77a7-2d2a-49fa-8d62-584684312a49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}