#s-b3e95872-4689-4c1a-a776-a955fef93b59 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Empty_screen_color_top {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Square > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Square > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Circle > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Circle > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Triangle > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Triangle > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4A86E8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 15.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text span#rtr-s-Text_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-signals > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Two_line_dialog {
  position: absolute;
  width: 360px;
  height: 245px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 {
  position: absolute;
  width: 0px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 9.5pt;
  font-family: 'Montserrat-Medium',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 > .paddingLayer {
  height: 49px;
  width: 29px;
  padding-top: 14px;
  padding-bottom: 2px;
  padding-left: 67px;
  padding-right: 2px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 span#rtr-s-Rectangle_16_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 span#rtr-s-Rectangle_16_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 {
  position: absolute;
  width: 0px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 9.5pt;
  font-family: 'Montserrat-Medium',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 > .paddingLayer {
  height: 49px;
  width: 29px;
  padding-top: 14px;
  padding-bottom: 2px;
  padding-left: 67px;
  padding-right: 2px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 span#rtr-s-Rectangle_18_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 span#rtr-s-Rectangle_18_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 {
  position: absolute;
  width: 0px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 9.5pt;
  font-family: 'Montserrat-Medium',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 > .paddingLayer {
  height: 49px;
  width: 29px;
  padding-top: 14px;
  padding-bottom: 2px;
  padding-left: 67px;
  padding-right: 2px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 span#rtr-s-Rectangle_20_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 span#rtr-s-Rectangle_20_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 {
  position: absolute;
  width: 0px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 9.5pt;
  font-family: 'Montserrat-Medium',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 > .paddingLayer {
  height: 49px;
  width: 29px;
  padding-top: 14px;
  padding-bottom: 2px;
  padding-left: 67px;
  padding-right: 2px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Medium',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 span#rtr-s-Rectangle_22_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.5pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_1 {
  position: absolute;
  width: 41px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_1 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_1 > svg {
  height: 42px;
  width: 41px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_2 {
  position: absolute;
  width: 41px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_2 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_2 > svg {
  height: 42px;
  width: 41px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_3 {
  position: absolute;
  width: 41px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_3 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_3 > svg {
  height: 42px;
  width: 41px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_4 {
  position: absolute;
  width: 41px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_4 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_4 > svg {
  height: 42px;
  width: 41px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_121 > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_121 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_121 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_121 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_122 > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_122 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_122 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_122 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_123 > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_123 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_123 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_123 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_124 > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_124 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_124 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_124 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_18 > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_18 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_18 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_18 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 > .clipping, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_5 > svg {
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_5 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_5 > img, #s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_5 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}