#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Rectangle_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b3e95872-4689-4c1a-a776-a955fef93b59 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}