#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}