#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/e48edbe4-6223-4459-afad-1c47ee1d622b.jpg');
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map > .clipping, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map > .paddingLayer {
  height: 40px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map span#rtr-s-Map_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4A86E8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status > .clipping, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour > .clipping, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour span#rtr-s-hour_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-signals > img, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Horizontal_softkeys {
  position: absolute;
  width: 360px;
  height: 48px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg > .clipping, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Square > svg {
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Square > img, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Circle > svg {
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Circle > img, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Triangle > svg {
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Triangle > img, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 > .clipping, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 20.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-input_text_area {
  position: absolute;
  width: 295px;
  height: 86px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 textarea::-webkit-input-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 textarea::-moz-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 textarea:-moz-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 textarea:-ms-input-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 {
  position: absolute;
  width: 0px;
  height: 86px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 textarea {
  height: 60px;
  width: 74px;
  margin-top: 17px;
  margin-bottom: 9px;
  margin-left: 6px;
  margin-right: 1px;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_7 marker {
  fill: #4A86E8;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_7 {
  position: absolute;
  width: 293px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_7 {
  width: 81px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #4A86E8;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_8 marker {
  fill: #4A86E8;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_8 {
  position: absolute;
  width: 293px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_8 {
  width: 81px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #4A86E8;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-input {
  position: absolute;
  width: 297px;
  height: 46px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 input::-webkit-input-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 input::-moz-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 input:-moz-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 input:-ms-input-placeholder {
  color: #808080;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 {
  position: absolute;
  width: 0px;
  height: 46px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 74px;
  padding-top: 17px;
  padding-bottom: 9px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_5 marker {
  fill: #4A86E8;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 295px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_5 {
  width: 81px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #4A86E8;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_6 marker {
  fill: #4A86E8;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 295px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_6 {
  width: 81px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #4A86E8;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4A86E8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 {
  position: absolute;
  width: 274px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 > .clipping, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 > .paddingLayer {
  height: 29px;
  width: 274px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 15.0pt;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_search {
  position: absolute;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Components_panel_1 {
  width: 0px;
  height: 54px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Components_panel_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 0px 5px 0px #999999;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Components_panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Components_panel_1 > .layoutWrapper {
  left: 6px;
  top: 6px;
  width: 71px;
  height: 42px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Components_panel_1 .verticalalign {
  vertical-align: top;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 input::-webkit-input-placeholder {
  color: #7D7D7D;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 input::-moz-placeholder {
  color: #7D7D7D;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 input:-moz-placeholder {
  color: #7D7D7D;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 input:-ms-input-placeholder {
  color: #7D7D7D;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 .valign {
  vertical-align: top;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Input_5 > .paddingLayer {
  height: 31px;
  width: -20px;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 54px;
  padding-right: 51px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-menu_3 > svg {
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-menu_3 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-menu_3 > img, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-menu_3 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-mic_1 > svg {
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-mic_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-mic_1 > img, #s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-mic_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}