#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_7 {
  stroke-width: 1px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_7 {
  stroke-width: 1px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_8 {
  stroke-width: 2px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_8 {
  stroke-width: 2px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_5 {
  stroke-width: 1px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_5 {
  stroke-width: 1px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_6 {
  stroke-width: 2px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Line_6 {
  stroke-width: 2px;
  stroke: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-Components_panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-menu_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 #s-mic_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7b91b98-6d50-4c2b-ab62-ce6ce9e889e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}