#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Image_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Image_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bc868003-7c74-4485-aab7-aaa92eaf7eb5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}