#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4af54b5-9a73-46f3-825d-aecb063d80da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}