#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ecb5fda1-60b9-43bb-a897-02dbf4bd688e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}