#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f6ca2276-bfc8-48e2-bd84-ca4714ec2cad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}