#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg-content {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Item-row {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-User {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-more-vertical_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-date_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Reply {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Content {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-directions_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-tap-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-located-fixed_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Pinmap {
  -ms-transform: rotate(270.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Components_panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-menu_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-mic_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}