#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg-content {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Item-row {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-User {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-more-vertical_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Reply {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Content {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-directions_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-tap-button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-located-fixed_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Pinmap {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f6efa476-c425-4089-97c9-16afb23ee384 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}